/* Esercizio 1 [UPD] Added animation 1*/
.ex-1-square {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: background-color 0.5s ease;
}

.ex-1-square:hover {
    background-color: red;
}



/* Esercizio 2*/

#rettangolo {
    transition: width 0.5s ease, height 0.5s ease;
}

#rettangolo:active {
    width: 500px;
    height: 100px;
}

/* Esercizio 3*/
#cerchio {
    transition: border-radius 0.4s ease;
}

#cerchio:hover {
    border-radius: 50%;
}
/* Esercizio 4*/
#scompare {
    transition: opacity 0.5s ease;
}

#scompare:hover {
    opacity: 0;
}

/* Esercizio 5*/
#cambiamento {
    transition: transform 0.5s ease;
}

#cambiamento:hover {
    transform: scale(1.2);
}

#cambiamento:active {
    transform: scale(0.8);
}

/* Esercizio 6*/

/* Esercizio 7*/

/* Esercizio 8*/

/* Esercizio 9*/

/* Esercizio 10*/

/* Esercizio 11*/
